{% extends "admin.header.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/admin.css')}}" />
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 alignVerticalCenter">
                        <b><span class="pozdrav1">Urejanje uganke tedna</span></b>
                        <button class="pull-right" id="pop-up">
                            Dodaj uganko
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
            <section>
                <div id="riddle">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Trenutna uganka tedna
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="dropdownMenu1" aria-labelledby="dropdownMenu1">
                            <li><a href="#">Ime uganke 1</a></li>
                            <li><a href="#">Ime uganke 2</a></li>
                            <li><a href="#">Ime uganke 3</a></li>
                        </ul>
                    </div>
                    <div class="btn-group pull-right">
                        <button class="btn btn-default">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                        <button class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                    <!-- Uganka -->
                    <div id="riddle-txt">
                        <div id="riddle-title">
                            Ime uganke
                        </div>
                        <div id="riddle-content">
                            <p>
                            Pajkova mreža povezuje štiri enako oddaljena vozlišča
                            na vseh šest načinov
                            (mimogrede: zato telesu,
                            ki nastane kot konveksna ogrinjača,
                            matematiki rečejo četverec).
                            V različnih vozliščih se nahajata muha in slepi pajek.
                            Muha se ne more premakniti,
                            pajek pa se premika naključno iz enega vozlišča v drugega.
                            </p>
                            <p>
                            <ol type="a">
                            <li>
                            Koliko je pričakovano število obratov,
                            preden pajek doseže muho?
                            <br /><br />
                            Kaj pa, če četverec nadomestimo z
                            </li>
                            <li>kocko,</li>
                            <li>oktaedrom,</li>
                            <li>dodekaedrom, ali</li>
                            <li>ikozaedrom?</li>
                            </ol>
                            </p>
                            <p>
                            Tedensko uganko najdete na
                            <a href="https://ucilnica.fri.uni-lj.si/uganka">spletni učilnici FRI</a>.
                            </p>
                        </div>
                        <a id="riddle-img" href="{{ url_for('static', filename='images/riddle/cetverec.png') }}">
                            <img src="{{ url_for('static', filename='images/riddle/cetverec.png') }}">
                        </a>
                    </div>
                    <!-- /Uganka -->
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}