<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Kriptogram</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}"/>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/header.css')}}" />
    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="{{url_for('static', filename='js/crypto.js')}}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
<nav id="top">
    <h1>Kriptogram Admin</h1>
    <a href="{{url_for('index')}}">
        <img src="{{url_for('static', filename='images/logo.png')}}" />
    </a>
</nav>

<!-- nav-bar -->
<nav id="nav-bar">
    <ul>
        <li>
            <a class="btn btn-secondary" role="button" href="{{url_for('index')}}">
                <img src="{{url_for('static', filename='images/home-icon.png')}}" id='home'>
            </a>
        </li>
        <li>
            <a class="btn btn-secondary" role="button" href="#">Uganka tedna</a>
        </li>
        <li>
            <a class="btn btn-secondary" role="button" href="#">Zamenjalke</a>
        </li>
    </ul>
</nav>

{% block body %}
{% endblock %}

</body>
</html>
