{% extends "admin.header.html" %}

{% block body %}
<!--Urejanje uganke-->
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default" >
            <div class="panel-heading" id="head">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 alignVerticalCenter">
                        <b><span class="pozdrav1">Log In</span></b>
                    </div>
                </div>
            </div>
            <section>
                <div>
                    <form method="post">
                        <label for="username">Username</label>
                        <input name="username" id="username" required>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" required>
                        <input type="submit" value="Log In">
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>



{% endblock %}