{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>KriptoAdmin</h1>
            {% if not current_user.is_authenticated %}
            <p>To use the site please login with admin credentials</p>
            <p>
                <a class="btn btn-primary" href="{{ url_for('security.login') }}">login</a>
            </p>
            {% else %}
            
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}